################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/parlem-api/parlem.api/parlem.api/bin/Debug/netcoreapp3.1
/src/parlem-api/parlem.api/parlem.api/obj
/src/parlem.web/bin/Debug/netcoreapp3.1
/src/parlem.web/obj
