################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/parlem-api/parlem.api/parlem.api/bin/Debug/netcoreapp3.1
/src/parlem-api/parlem.api/parlem.api/obj
/src/parlem.web/bin/Debug/netcoreapp3.1
/src/parlem.web/obj
/src/parlem.common/parlem.common/bin/Debug/netcoreapp3.1
/src/parlem.common/parlem.common/obj/Debug/netcoreapp3.1
/src/parlem.common/parlem.common/obj
/src/parlem.domain/parlem.domain/obj
/src/parlem.domain/parlem.domain/bin/Debug/netcoreapp3.1
/src/parlem.test/parlem.test/bin/Debug/netcoreapp3.1
/src/parlem.test/parlem.test/obj/Debug/netcoreapp3.1
/src/parlem.test/parlem.test/obj
