@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Portal de clientes</h1>

    <a asp-controller="Customers" asp-action="Customers">Ver clientes</a>
   
    <p>Prueba técnica para Parlem Telecom desarrollada por Martín Márquez Rivero</p>
</div>
